.gamer-wrapper{
box-sizing: border-box;

.target{
    position: relative;
}
.target img{
    width: 50px;
    cursor: pointer;
    animation: disappear 0.5s linear 0s infinite alternate;
    margin: 0px;
    }

    
@keyframes disappear {
    from {opacity: 0;}
    to {opacity: 1;}
}
.target span{
    display: flex;
    justify-content: center;
}

.target-bottom {
position: absolute;
bottom: 0px;
width: 100%;
    // box-sizing: border-box;
    img{
        width: 80px;
        position: relative;
        bottom: 0%;
        margin: 0%;
        // bottom: 0px;
        animation: myfirst 5s linear infinite;
    }
    @keyframes myfirst {
        0%   { left: 0%; bottom: 0px;}
        25%  { left: 20%; bottom: 0px;}
        50%  { left: 50%; bottom: 0px;}
        75%  { left: 80%; bottom: 0px;}
        100% { left: 90%; bottom: 0px;}
      }
  
  
}
}
