@use '../../StyleSheet/mixin.scss';
.header{
    // border: $boader;
    width: 100vw;
    height: 13vh;
    // border-bottom: 1px dotted red;
    // background:var(--background);
    display: flex;
    justify-content:space-between;
    position: fixed;
    top: 0%;
    align-items: center;
    z-index: 9;
    .header-logo img{
        width: 150px;
        mix-blend-mode: normal;
        // padding-left: 5vw;
    }
   
        .header-options-link{
            // border: $boader;
            list-style-type: none;
            display: flex;
            padding-right: 20px;
            }
    .header-options ul li a{
        text-decoration: none;
        color: var(--color);
        display: inline-block;
        padding: 0 20px;  
     
     }
     @include mixin.breakpoint(tab){
        .header-options ul li:nth-child(1) {
            display: none;
        }
 
     } 
     .header-options ul li:nth-child(2){
        display: none;
        @include mixin.breakpoint(tab){
            display: inline-block;
                   } 
     }

    
}
.header.scrolled {
    background: var(   --wt-to-bl);
    // .header-options ul li a{
    //     color: white;
    // }
    
  }
