.inner-skills{
    box-sizing: border-box;
    width: 100%;
    background-color: var(--whiteToBlack);
    padding: 15px 0px;
    .skills{
        display: flex;
        justify-content: space-evenly;
    align-items:center;
   flex-wrap: wrap;
    .cards{
        position: relative;
        color: var(--color);
        img{
            position: absolute;
            width: 60%;
            height: 40%;
            opacity: 0.5;
            mix-blend-mode: normal;
        }
        h1{
            font-size:calc(24px + 3vw);
            margin: 34px 0px 0px ;
            text-align: center;
        }
        h3{
            font-size:calc(6px + 2vw);
            margin: 0px;
        }
    } 
    }
}
