//tables
$tablets: 768px; // specifically old fixed iPad screens.
// mobile
$mobile: 600px; // standard breakpoint for mobile.
$smallMobile: 470px; // for small screen mobile like Apple 5SE.


// breackpoints 

@mixin breakpoint($point) {
    @if $point == tab {
      @media (max-width: $tablets) {
        @content;
      }
    }
    @if $point == mob {
        @media (max-width: $mobile) {
          @content;
        }
      }
      @if $point == tab {
        @media (max-width: $smallMobile) {
          @content;
        }
      }
}

//Lightmode
.light-mode {
    --background: linear-gradient(to top right, #3366ff 0%, #00ffff 100%); 
    --bgBtoB: BLACK;  
    --bgTtoB: rgba(255, 0, 0, 0); 
    --color:black;
    --whiteToBlack:white;
    --wt-to-bl: #ffffff;
    --box-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff, 0 0 30px #ffffff, 0 0 60px #ffffff;
  

}
.dark {
        --background: black;
        --color:white;
        --whiteToBlack:black;
        --wt-to-bl: #3586ff;
        --box-shadow:0 0 5px #2bd2ff, 0 0 15px #2bd2ff, 0 0 30px #2bd2ff, 0 0 60px #2bd2ff;
        --bgBtoB: linear-gradient(to top right, #3366ff 0%, #00ffff 100%);
        --bgTtoB: linear-gradient(to top right, #3366ff 0%, #00ffff 100%);  
    }

.dark-light-mode{
    position: absolute;
    right: 50px;
    top: 100px;
    z-index: 0;
    cursor: pointer;

}


