$boader: 2px solid black;
.home-layout{
   // border: $boader; 
   box-sizing: border-box;
   background: var(--background);
   // height: 100vh;
   // display: flex;
   // flex-direction:columns;
   .header{
   position: fixed;
   // display: block;
   }
  .home-contents{
   padding-top: 50px;
 
   
  }
  // .footer{
  //  background-color: aqua;

  //  // width: 100vw;
  // }
}